@import "/src/Styles/Color/Color";
@import "/src/Styles/Mixin/Mixin";
@import "/src/Styles/Class/Class";

$item-border-width: 10px;

.item-container {
  @extend .center;
  @include DimensionAndBorderItem(100px, 50%);

  &__layer {
    @extend .center;
    @include DimensionAndBorderItem(80px, 50%);
    transition: background 200ms;
    background: white;
  }

  img {
    transition: transform 1s;
    -webkit-user-drag: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover &__layer {
    background: none;
    box-shadow: none;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

@media (min-width: 576px) {
  .item-container {
    @include DimensionAndBorderItem(150px, 50%);

    &__layer {
      @include DimensionAndBorderItem(100px, 50%);
    }

    img {
      width: 50px;
    }
  }
}

@media (min-width: 768px) {
  .item-container {
    @include DimensionAndBorderItem(200px, 50%);

    &__layer {
      @include DimensionAndBorderItem(150px, 50%);
    }

    img {
      width: 80px;
    }
  }
}
